.allyourfiles__input {
  box-sizing: border-box;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  width: 304px;
  height: 40px;
  padding: 1px 0 0 22px;
  margin: 0 0 16px 0;
}

@media screen and (min-width:700px) and (max-width:1000px){
  .allyourfiles__input{
    margin:0 20px 0 0;
  }
}

@media screen and (min-width:1000px){
  .allyourfiles__input {
    flex: 0 1 50%;
    height: 45px;
    width: auto;
    max-width: 320px;
  }
}

@media screen and (min-width:1440px) {
  .allyourfiles__input {
    flex: 0 0 320px;
    padding: 5px 0 0 22px;
  }
}

.allyourfiles__btn {
  border: none;
  border-radius: 2px;
  vertical-align: middle;
  height: 40px;
  width: 304px;
  padding: 0;
  margin: 0;
}

@media screen and (min-width:1000px){
  .allyourfiles__btn {
    flex: 0 1 50%;
    height: 45px;
    width: auto;
    max-width: 200px;
    margin-left: 16px;
  }
}

@media screen and (min-width:1440px) {
  .allyourfiles__btn {
    flex: 0 0 200px;
  }
}

.cta__signup-input {
  display: block;
  box-sizing: border-box;
  border-radius: 1.47px;
  border-width: 0;
  border-style: solid;
  box-shadow: 2px 3px 6px 0 hsla(243, 87.3%, 12.4%, 0.16);
  height: 32px;
  width: 240px;
  padding: 11px 0 10px 8px;
}

@media screen and (min-width:1000px) {
  .cta__signup-input {
    font-size: 12px;
    border-radius: 3px;
    height: 48px;
    width: 480px;   /* Hmm? */
    width: 100%;    /* Hmm?? */
    max-width:auto; /* Hmm??? */
    padding: 0 0 3px 22px;
  }
}

.cta__signup-btn {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0;
  border: none;
  border-radius: 3.13px;
  box-shadow: 2px 3px 6px 0 hsla(243, 87.3%, 12.4%, 0.16);
  height: 32px;
  width: 240px;
}

@media screen and (min-width:1000px) {
  .cta__signup-btn {
    height: 48px;
    width: 200px;
  }
}

.social-icon {
  border-radius: 50%;
  border: solid 0.8px hsl(222, 36.2%, 90.8%);
  box-sizing: border-box;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  height: 27px;
  width: 27.06px;
}

@media screen and (min-width:1440px) {
  .social-icon {
    font-size: 14px;
    height: 31px;
    width: 31.22px;
  }
}
