.cta {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 345px;
  padding-top: 52px;
}

@media screen and (min-width:1440px) {
  .cta {
    flex-direction: row;
    padding-top: 0;
    height: 322px;
  }
}

.cta__textbox {
  flex: 0;
}

@media screen and (min-width:1440px) {
  .cta__textbox {
    flex: 0 0 720px;
  }
}

.cta__signup {
  display: flex;
  flex: 0;
  flex-direction:column;
  margin: 0 auto;
}

@media screen and (min-width:700px) and (max-width:1000px) {
  .cta__signup {
    flex-direction: row;
  }
}


@media screen and (min-width:1440px) {
  .cta__signup {
    flex: 0 0 720px;
  }
}

.cta-txt {
  margin: 0 59px 24px 36px;
}

.cta__signup-input {
  display: block;
  margin-bottom:8px;
}

@media screen and (min-width:700px) and (max-width:1000px) {
  .cta__signup-input {
    margin-right:20px;
  }
}


@media screen and (min-width:480px) and (max-width:1000px) {
  .cta-txt {
    margin: 0 36px 24px;
  }
}

@media screen and (min-width:1440px) {
  .cta-txt {
    margin: 0 100px 0 80px;
  }
}

.cta-headline {
  /* PP margin: 0px 85px 16px 86px; */
  margin: 0 0 16px;
}

@media screen and (min-width:1440px) {
  .cta-headline {
    margin: 100px 0 16px 80px;
  }
}
