@media screen and (min-width:1440px) {

  .cta {
    flex-direction: row;
    padding-top: 0;
    height: 322px;
  }

  .cta__textbox {
    flex: 0 0 720px;
  }

  .cta__signup {
    flex: 0 0 720px;
  }

  .cta-txt {
    font-size: 16px;
    letter-spacing: 0.5px;
    margin: 0 100px 0 80px;
    text-align: left;
  }

  .cta-headline {
    font-size: 32px;
    margin: 100px 0 16px 80px;
  }

  .cta__signup-input {
    font-size: 12px;
    border-radius: 3px;
    /* border-style: solid; */
    height: 48px;
    width: 480px;
    padding: 0 0 0 22px;
    margin: 112px 120px 16px 120px;
  }

  .cta__signup-btn {
    font-size: 14px;
    height: 48px;
    width: 200px;
    margin: 0 0 0 120px;
  }

  .footer {
    height: 391px;
    padding: 105.61px 0 0 77px;
  }

  .footer-logo {
    /* height: 51.22px; */
    margin: 2px 6px 9px 6px;
  }

  .footer__content {
    /* display: flex; */
    flex-direction: row;
    /* justify-content: flex-start; */
    width: 1245px;
    margin-left: 6px;
  }

  .footer__contact {
    flex: 0 0 441px;
    padding: 0;
  }

  .footer__left-nav {
    flex: 0 0 269px;
  }

  .footer__right-nav {
    flex: 0 0 266px;
  }

  .footer__social-icons {
    flex: 0 0 150px;
    padding-left: 0;
    padding-top: 15px;
  }

  .footer__contact--txt {}

  .footer__phone-icon {
    margin: 0 19px 0 0;
  }

  .footer__email-icon {
    margin: 0 17px 0 0;
    /* vertical-align: middle; */
  }

  .footer-nav__item {
    /* display: block; */
    /* height: 22px; */
    margin: 0 0 16px 0;
  }

  .social-icon {
    font-size: 14px;
    padding-top: 8px;
    height: 31px;
    width: 31.22px;
    margin: 3px 8.49px 0 0;
  }

  .fa-instagram {
    font-size: 16px;
    padding-top: 6px;
  }

  .attribution {
    margin: 16px 0 0;
  }
}/*END @media screen and (min-width:1440px)*/
