@media screen and (min-width:1000px) and (max-width:1439px){
  .main-header {
    height: 49px;
    padding-top: 65px;
    margin: 0 80px 86px 80px;
  }



@media screen and (min-width:1000px) and (max-width:1439px){
  .header-logo {
    height: 49px;
  }




@media screen and (min-width:1000px) and (max-width:1439px){
  .main-nav {
    top: 63px;
    height: 19px;
    width: 271px;
  }

@media screen and (min-width:1000px) and (max-width:1439px){
  .main-nav__item {
    font-size: 16px;
    letter-spacing: 0px; /*Nece?*/
  }


@media screen and (min-width:1000px) and (max-width:1439px){
  .allyourfiles__textbox {
    flex: 0 1 auto;
    flex-direction: column;
    order: 1;
    margin: 0 0 0 24px;
  }


@media screen and (min-width:1000px) and (max-width:1439px){
  .allyourfiles__textbox-txt {
    font-size: 17px;
    line-height: 1.412;
    letter-spacing: 0.53px;
    text-align: left;
    margin: 15px 0 25px 0;
    padding-right: 40px;
  }



@media screen and (min-width:1000px) and (max-width:1439px){
  .allyourfiles__cta {
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
    Width: 100%;
  }



@media screen and (min-width:1000px) and (max-width:1439px){
  .allyourfiles__input {
    flex: 0 1 50%;
    height: 45px;
    width: auto;
    max-width: 320px;
  }


@media screen and (min-width:1000px) and (max-width:1439px){
  .allyourfiles__btn {
    flex: 0 1 50%;
    font-weight: 700;
    letter-spacing: 0.5;
    height: 45px;
    width: auto;
    max-width: 200px;
    margin-left: 16px;
  }


@media screen and (min-width:1000px) and (max-width:1439px){
  .allyourfiles__imgbox {
    flex: 0 0 auto;
    height: 474px;
    margin: 0 24px;
    /* max-width:100%;
    max-height:100%; */
  }

@media screen and (min-width:1000px) and (max-width:1439px){
  .curve_img {
    width: 1440px; /*swdinirly wrong one off lol*/
  }


@media screen and (min-width:1000px) and (max-width:1439px){
  .stayproductive__txtbox {
    flex: 0 1 auto;
    order: 1;
    margin: 0 0 0 24px;
  }


@media screen and (min-width:1000px) and (max-width:1439px){
  .stayproductive__txt {
    font-size: 16px;
    margin: 0 170px 16px 0;
  }


@media screen and (min-width:1000px) and (max-width:1439px){
  .stayproductive__txt2 {
    font-size: 16px;
    margin: 0 170px 15px 0;
  }

@media screen and (min-width:1000px) and (max-width:1439px){
.stayproductive__link-box{
  text-align:left;
}

@media screen and (min-width:1000px) and (max-width:1439px){
  .stayproductive__link {
    font-size: 16px;
    padding-left: 0;
  }


@media screen and (min-width:1000px) and (max-width:1439px){
  .stayproductive__arrow {
    /* vertical-align: middle; */
    height: 18px;
    width: 18px;
    /* martini-top:a-ok(y); */
  }


@media screen and (min-width:1000px) and (max-width:1439px){
  .stayproductive__underline {
    width: 166px;
    height: 1px;
    margin: 2px 0 44px 0;
  }




@media screen and (min-width:1000px) and (max-width:1439px){
  .stayproductive__card-txt {
    padding: 50px 34px 0 33px;
    margin-bottom: 15px;
  }

  @media screen and (min-width:1000px) and (max-width:1439px){
  .stayproductive__card-img {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    margin-left: 33px;
  }

  @media screen and (min-width:1000px) and (max-width:1439px){
  .stayproductive__card-signaturebox-textbox {
    flex: 0 0 300px;
  }

  @media screen and (min-width:1000px) and (max-width:1439px){
  .stayproductive__card-name {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.55px;
    margin: 0 0 0 8px;
  }


  @media screen and (min-width:1000px) and (max-width:1439px){
  .stayproductive__card-title {
    font-size: 8px;
    letter-spacing: 0.55px;
    line-height: 1.3;
  }
