@media screen and (min-width:620px) and (max-width:767px){
  .allyourfiles__h1 {font-size: 32px;}
  .stayproductive__h2 {font-size: 32px;}

  .allyourfiles__textbox-txt {font-size: 16px;}
}

@media screen and (min-width:768px) and (max-width:949px){
  .allyourfiles__h1 {font-size: 40px;}
  .stayproductive__h2 {font-size: 40px;}
  .allyourfiles__textbox-txt {font-size: 16px;}
}

@media screen and (min-width:950px) and (max-width:999px){
  .allyourfiles__h1 {
    font-size:40px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .stayproductive__h2 {
    font-size: 40px;
  }

  .allyourfiles__textbox-txt {
    font-size: 16px;
  }
}




@media screen and (min-width:1000px) and (max-width:1239px) {
  /* .allyourfiles__h1 {
    font-size: 26px;
    text-align:center;
  }
  .stayproductive__h2 {
    font-size: 26px;
    text-align:center;
  }

  .allyourfiles__textbox-txt {
    text-align:center;
    padding-right:0
  }

  .stayproductive__txt{
    text-align:center;
    margin-right:0;
  }

  .stayproductive__txt2{
    text-align:center;
    margin-right:0;
  } */
  .allyourfiles{height:350px;margin-bottom:100px;}
  .allyourfiles__imgbox{height:350px;}
  .allyourfiles__img {height:350px;}
  .stayproductive{height:615px;}
  .stayproductive__h2{margin-top:20px;margin-bottom:15px;}
  .stayproductive__img{height:350px;margin-top:30px;}
  .stayproductive__txt{margin-right:0px;}
  .stayproductive__txt2{margin-right:0px;}
  .stayproductive__underline{margin-bottom:25px;}
  }

/*Margin only*/ /*Record the margin moving trololol*/
@media screen and (min-width:1165px) and (max-width:1290px) {
  .stayproductive__h2 {margin-right:270px;}}

@media screen and (min-width:1065px) and (max-width:1165px) {
  .stayproductive__h2 {margin-right:170px;}}

@media screen and (min-width:1000px) and (max-width:1064px) {
  .stayproductive__h2 {margin-right:70px;}}
